.orderSuccess-item {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    padding: 15px 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}

.orderSuccess-label {
    display: flex;
    flex: 4;
    align-items: center;
    padding: 0 0 0 10px;
}

.orderSuccess-value {
    display: flex;
    flex: 6;
    align-items: center;
    padding: 0 0 0 10px;
}