body {
    background: #F7F9F8 !important;
}

.null {
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F7F9F8 !important;
}

.mui-content > .mui-table-view:first-child {
    margin-top: 0 !important;
}

.mui-media-body {
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
}

.personal-banner {
    padding: 15px 15px !important;
}

.personal-item {
    line-height: 30px;
}

.personal-phone {
    color: #666666 !important;
}

.personal-img {
    max-width: 55px !important;
    width: 55px !important;
    height: 55px !important;
}

.mui-table-view-cell {
    padding: 10px 15px;
}

.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #EEEEEE;
}

.mui-table-view .mui-media-object {
    line-height: 35px;
    max-width: 35px;
    height: 35px;
}

.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: 15px;
}

.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    top: -1px;
}

.mui-table-view:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #A6A6A6;
    -webkit-font-smoothing: antialiased;
}

.danWei {
    padding: 0;
    font-size: 17px;
    color: #333333;
    height: 40px;
    line-height: 40px;
    width: 100%;
    position: absolute;
    right: 40px;
    text-align: right;
    top: 7px;
}

.personal-edit-img {
    padding: 20px 15px !important;
}

.personal-edit-img-item {
    position: absolute;
    right: 40px;
    height: 60px;
    width: 60px;
    top: 0;
    border-radius: 5px;
}

.personal-edit-item {
    padding: 14px 15px !important;
}

.personal-edit-tip {
    background: #F7F9F8;
    padding: 5px 0 0 20px;
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    color: #999999;
}

.personal-edit-button {
    background: #F7F9F8;
    padding: 20px;
}

.mui-btn-block {
    font-size: 18px;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 0;
}

/*姓名输入框*/
.mui-popup-input input {
    font-size: 14px;
    width: 100%;
    height: 40px;
    margin: 15px 0 0;
    padding: 0 5px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 2px;
    background: #fff;
}

.personal-edit-phone-edit {
    display: flex;
    padding: 14px 15px;
    border-bottom: 1px solid #EEEEEE;
    background: #FFFFFF;
}

.personal-edit-phone-edit-label {
    display: flex;
    flex: 1;
}

.personal-edit-phone-edit-value {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

.personal-edit-phone-edit-value-button {

}

.personal-edit-phone-button {
    background: #F7F9F8;
    padding: 20px;
    text-align: center;
}

.personal-edit-phone-button .mui-btn {
    width: 49%;
    padding: 10px;
}

.personal-edit-img-div {
    background: #F7F9F8;
}

.personal-edit-img-button {
    position: relative;
    margin: 10px;
    text-align: center;
}

.personal-edit-img-button .mui-btn {
    width: 30%;
    padding: 10px;
}

input[type=text] {
    line-height: 21px;
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0;
    -webkit-user-select: text;
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}

#clip {
    width: 100%;
    height: 400px;
}
.am-btn-primary {
    color: #fff;
    background-color: #0e90d2;
    border-color: #0e90d2;
}
.am-btn {
    display: inline-block;
    margin-bottom: 0;
    padding: .5em 1em;
    vertical-align: middle;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
    transition: background-color .3s ease-out,border-color .3s ease-out;
}
.am-hide {
    display: none!important;
    visibility: hidden!important;
}