body {
    background: #F7F9F8 !important;
}

.null {
    height: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #F7F9F8 !important;
}

.mui-content > .mui-table-view:first-child {
    margin-top: 0 !important;
}

.mui-media-body {
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
}

.personal-banner {
    padding: 15px 15px !important;
}

.personal-item {
    line-height: 30px;
}

.personal-phone {
    color: #666666 !important;
}

.personal-img {
    max-width: 55px !important;
    width: 55px !important;
    height: 55px !important;
    border-radius: 5px;
}

.mui-table-view-cell {
    padding: 10px 15px;
}

.mui-table-view-cell:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 65px;
    height: 1px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #EEEEEE;
}

.mui-table-view .mui-media-object {
    line-height: 35px;
    max-width: 35px;
    height: 35px;
}

.mui-table-view .mui-media-object.mui-pull-left {
    margin-right: 15px;
}

.mui-table-view:before {
    position: absolute;
    right: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
    top: -1px;
}

.mui-table-view:after {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0px;
    content: '';
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background-color: #c8c7cc;
}

.mui-navigate-right:after, .mui-push-left:after, .mui-push-right:after {
    font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #A6A6A6;
    -webkit-font-smoothing: antialiased;
}

.danWei {
    padding: 0;
    font-size: 17px;
    color: #333333;
    height: 40px;
    line-height: 40px;
    width: 50px;
    position: absolute;
    right: 40px;
    text-align: right;
    top: 10px;
}